<div class="jumbotron">
    <h1 class="display-3">KSL NEWS Scrapper</h1>
   
    <hr class="my-2">
    <p class="lead">
        <a class="btn btn-primary btn-lg" id="scrape" role="button">Scrape KSL</a>
        <a class="btn btn-primary btn-lg" id="Saved-link" role="button" href="saved">Saved Articles</a>
    </p>
</div>

<h2 style="text-align: center">Current KSL articles</h2>
{{!-- <div class="container">
    <div class="row">
        {{#each items}}
<div class="card article" style="width: 20rem;">
  <img src={{photo}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{summary}}</p>
    <a href={{link}} target="_blank" class="btn btn-primary">View Article</a>
    <a href={{link}} target="_blank" class="btn btn-primary">Save Article</a>
  </div>
</div>
    {{/each}}
    </div>
</div> --}}
<div class=articles>

</div>
<div class="container">
        {{#each items}}
          {{#unless delete}}
    
    <div class="row">
        
        <div class="card w-100" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src={{photo}} class="card-img" alt="..." style="max-width: 200px; margin: auto">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <span class="card-text">{{summary}}</span>
                        <p class="card-text"><small class="text-muted">{{updated}}</small></p>
                        <a href={{link}} target="_blank" class="btn btn-primary">View Article</a>
                        <button href="/delete/:id" target="_blank" class="btn btn-primary delete" data-id={{_id}} >Delete</button>
                        {{#each Note.body}}
                             <button href="/delete/:id" target="_blank" class="btn btn-primary delete" data-id={{_id}} >Delete</button>
                        {{/each}}
                        <button class="btn btn-primary save-article" data-id={{_id}} >Save</button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

            {{/unless}}
        {{/each}}
</div>
    
    {{!-- {{#each items}}
<div class="card article" style="width: 25rem;">
  <img src={{photo}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{summary}}</p>
    <a href={{link}} target="_blank" class="btn btn-primary">View Article</a>
    <a href={{link}} target="_blank" class="btn btn-primary">Save Article</a>
  </div>
</div>
    {{/each}} --}}
{{!-- <div class="article"></div>
<ul>
    {{#each items}}
    <p>{{title}}</p>
    {{/each}}
</ul> --}}