<div class="jumbotron">
  <h1 class="display-3">Jumbo heading</h1>
  <p class="lead">Jumbo helper text</p>
  <hr class="my-2">
  <p>KSL Scraper</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" id="scrape" role="button">Scrape KSL</a>
  </p>
</div>

<h2>Current KSL articles</h2>
{{!-- <div class="container">
    <div class="row">
        {{#each items}}
<div class="card article" style="width: 20rem;">
  <img src={{photo}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{summary}}</p>
    <a href={{link}} target="_blank" class="btn btn-primary">View Article</a>
    <a href={{link}} target="_blank" class="btn btn-primary">Save Article</a>
  </div>
</div>
    {{/each}}
    </div>
</div> --}}
<div class=articles>

</div>
<div class="container">
  {{#each items}}
  {{#unless delete}}

  <div class="row">

    <div class="card w-100" style="max-width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src={{photo}} class="card-img" alt="..." style="max-width: 200px; margin: auto">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <span class="card-text">{{summary}}</span>
            <p class="card-text"><small class="text-muted">{{updated}}</small></p>
            <a href={{link}} target="_blank" class="btn btn-primary">View Article</a>
            {{!-- <button href="/delete/:id" target="_blank" class="btn btn-primary delete" data-id={{_id}} >Delete</button> --}}
            <button class="btn btn-primary note" data-id={{_id}} data-title="{{title}}" data-toggle="modal"
              data-target="#exampleModal">Add Note</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{/unless}}
  {{/each}}
</div>


{{#each items}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" data-id={{_id}} role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  data-title="{{title}}" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
          <label for="Note-Area">Article Notes</label>
          <textarea class="form-control" id="Note-Area" rows="3"></textarea>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-id={{_id}} data-title="{{title}}" id="save-note">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{!-- {{#each items}}
<div class="card article" style="width: 25rem;">
  <img src={{photo}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{summary}}</p>
    <a href={{link}} target="_blank" class="btn btn-primary">View Article</a>
    <a href={{link}} target="_blank" class="btn btn-primary">Save Article</a>
  </div>
</div>
    {{/each}} --}}
{{!-- <div class="article"></div>
<ul>
    {{#each items}}
    <p>{{title}}</p>
    {{/each}}
</ul> --}}